---
layout: default
title: Rhode Island's Phased Covid-19 Plan
nav-title: Home
permalink: /
body-class: home
---


<div id="top" class="illus__sky s__dark">
  <div class="l-wrapper__flex container">

    {% include header.html %}

    <main id="content" class="main__content pb-0">
      <div id="moving-panels">
        <!-- {% include landscape.html %} -->
      </div>
      <article class="main__article intro">
        <header class="intro__header">
          <h1 class="display-3">Reopening RI: Charting the course</h1>
        </header>
        <h3 class="h4" style="font-weight: 600;">Rhode Island's phased plan for Covid-19</h3>
        <h3>&nbsp;</h3>
        <h3>&nbsp;</h3>
      </article>
    </main>
  </div>
</div>


<section id="challenge" class="u__vspacing s__dark border-top border-white" style="">
  <article class="container">

      <div class="row">

        <div class="col-md-9 col-lg-9 pb-4">
          <h5 class="h6">The challenge</h5>
          <h2 class="h2">This is an unprecedented situation.</h2>
          <p class="lead">We’re facing a public health crisis with devastating economic consequences.</p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm pb-sm-2">
              <h3 class="h4">We’re weathering the storm.</h3>
              <p>We've hunkered down to save lives and to give ourselves time to prepare. While we’ve maintained economic activity through the crisis and closed fewer sectors than neighboring states, the economic toll has still been enormous.</p>
            </div>
            <div class="col-sm pb-sm-2">
              <h3 class="h4">We’re better prepared.</h3>
              <p>Many significant challenges for public health and economic health remain. The good news is we have now had time to prepare our hospital system, ramp up our testing abilities, and we’re making plans to adapt.</p>
            </div>
            <div class="col-sm pb-sm-2">
              <h3 class="h4">We're guided by the latest science.</h3>
              <p>Our understanding of the virus continues to evolve, and we are also able to learn from the experiences of those around us while gathering the latest data on the effects of the virus in Rhode Island.</p>
            </div>
            <div class="col-sm pb-sm-2">
              <h3 class="h4">Reopening safely is our top priority.</h3>
              <p>The economy won’t reopen with the flick of a switch. To begin reopening safely, we must use a targeted approach based on facts.</p>
            </div>
          </div>
        </div>

      </div>

  </article>
</section>





      <section id="context" class="u__vspacing s__gray">
        <article class="container">

            <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

            <div class="container">
              <div class="row">


                <div class="col-md-9 col-lg-9 pb-4">
                  <h5 class="h6">The context</h5>
                  <h2 class="h2">We’ll get to our destination together.</h2>
                  <p class="lead">Partnership is key. We’ve talked with thousands of Rhode Islanders. We engage regularly with medical experts, healthcare providers, business leaders, labor representatives, municipal leaders, community groups, and other stakeholders. We take their feedback seriously.</p>
                </div>

                <div class="container">
                  <div class="row">
                    <div class="col-sm pb-sm-2">
                      <h3 class="h4">We want all of Rhode Island to benefit from your ideas.</h3>
                      <p>This is just the beginning. Rhode Islanders are known for our creativity and our ability to solve problems, no matter how challenging. If you have ideas, we want to hear from you. <a href="#feedback">Submit your suggestions here</a>.</p>
                    </div>
                    <div class="col-sm pb-sm-2">
                      <h3 class="h4">No state can do this alone.</h3>
                      <p>We’re learning from the experiences across the world and coordinating with neighboring states as well as our federal partners.</p>
                    </div>
                    <div class="col-sm pb-sm-2">
                      <h3 class="h4">We must plan, but we also have to be flexible.</h3>
                      <p>Reopening the economy requires thoughtful planning. Rhode Islanders want to know what lies ahead. But we also need to be prepared to adapt to evolving and unprecedented circumstances. We will communicate updates every week.</p>
                    </div>
                    <div class="col-sm pb-sm-2">
                      <h3 class="h4">New challenges and opportunities lie ahead.</h3>
                      <p>We don’t know exactly what our new destination will look like, and we almost certainly will face setbacks. But we know Rhode Islanders will emerge from this challenge stronger and more resilient.</p>
                    </div>

                  </div>
                </div>



              </div>
            </div>

        </article>
      </section>




      <section id="plan" class="u__vspacing s__white">
        <article class="container px-0">


          <div class="u__spacing pb-0">
            <div class="row">
              <div class="col-md-10 col-lg-10">
                <h2 class="h2">The plan</h2>
                <p class="lead">Our strategy to reopen the economy is a phased approach to maintain flexibility.</p>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/plan-phase-1.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Where we are</h5>
                  <h3 class="h4">Weathering the storm</h3>
                  <p>We've developed a robust emergency response to an unprecedented public health crisis.</p>
                </div>
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/plan-phase-2.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Phase I</h5>
                  <h3 class="h4">Testing the water</h3>
                  <p>We'll resume business and social activity on a limited basis while significant restrictions remain in place to protect public health and safety.</p>
                </div>
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/plan-phase-3.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Phase II</h5>
                  <h3 class="h4">Navigating our way</h3>
                  <p>We'll try new models for doing business and for living while social distancing.</p>
                </div>
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/plan-phase-4.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Phase III</h5>
                  <h3 class="h4">Picking up speed</h3>
                  <p>Most businesses will be open with new guidelines. Travel and other restrictions may continue.</p>
                </div>
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/plan-phase-5.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Where we're headed</h5>
                  <h3 class="h4">Eventually, we'll land</h3>
                  <p>We'll arrive at our destination, stronger and more resilient, with fewer restrictions.</p>
                </div>


              </div>
            </div>


          </div>





        </article>
      </section>






      <section id="phase-1" class="u__vspacing s__gray">
        <article class="container">

          <div class="row">

            <div class="col-md-6 col-lg-7 pt-4 mt-2">
              <div class="pr-4">

                <h2 class="h2">Phase I: Testing the water</h2>
                <p class="lead">In the first phase, we can look forward to seeing friends and family again.</p>
                <p>The stay at home order is lifted, but social gatherings are limited to 10 people.</p>
                <p>Older adults (65+) and those with underlying health conditions can go to work and go out for food or medicine, but in accordance with federal public health guidance, vulnerable individuals are strongly encouraged to otherwise stay home.</p>
                <p>Masks, vigilant hand-washing and increased cleaning must remain in place.</p>
                <p>Everyone who can work from home should still work from home.</p>
                <p>All activities must account for strong social distancing guidelines of remaining 6-feet apart.</p>

              </div>
            </div>

            <div class="col-md-5 col-lg-5">
              <img src="{{ '/' | relative_url }}assets/img/phase-1-dock.jpg" class="mw-100 pb-2" alt="Image of a dock with a beautiful sunset" aria-hidden="true">
            </div>

          </div>

        </article>
      </section>


      <section id="phase-2" class="u__vspacing s__dark">
        <article class="container">

          <div class="row">


            <div class="col-md-5 col-lg-5 pt-2">
              <img src="{{ '/' | relative_url }}assets/img/phase-2-sail.jpg" class="mw-100 pb-2" alt="Image of a sailboat beginning to sail" aria-hidden="true">
            </div>

            <div class="col-md-6 col-lg-7 pt-0 mt-0">
              <div class="pl-4">

                <h2 class="h2">Phase II: Navigating our way</h2>
                <p class="lead">In the second phase, we can look forward to more businesses reopening and restrictions being further relaxed.</p>
                <p>Expanded childcare options will be available under strict public health guidelines.</p>
                <p>More restaurants, retail and close-contact businesses like hair and nail salons may open.</p>
                <p>Additional recreational options will likely return including more parks and beaches, but restrictions remain.</p>
                <p>Social gathering limits increase to 15 people.</p>
                <p>Older adults (65+) and those with underlying health conditions can go to work and go out for food or medicine. But in accordance with federal public health guidance, vulnerable individuals are still strongly encouraged to otherwise stay home.</p>
                <p>Masks, vigilant hand- washing and increased cleaning must remain in place.</p>
                <p>Offices will ease capacity restrictions allowing more people to come in, but many people will still work from home.</p>
                <p>All activities must account for strong social distancing guidelines of remaining 6-feet apart.</p>

              </div>
            </div>



          </div>

        </article>
      </section>


      <section id="phase-3" class="u__vspacing s__gray">
        <article class="container">

          <div class="row">

            <div class="col-md-6 col-lg-7 pt-4 mt-2">
              <div class="pr-4">

                <h2 class="h2">Phase III: Picking up speed</h2>
                <p class="lead">In the third phase, we’ll build on our learning from the first two phases.</p>
                <p>We can look forward to schools opening with restrictions and seeing more of our families and friends.</p>
                <p>Offices, restaurants, retail and other businesses will lift some of the tightest restrictions to allow more people in at one time but will need to operate under long-term safety guidelines.</p>
                <p>Social gatherings are limited to 50 people.</p>
                <p>Older adults (65+) and those with underlying health conditions are no longer strongly encouraged to stay home. These individuals are reminded to exercise significant caution in public.</p>
                <p>Masks, vigilant hand-washing and increased cleaning must remain in place.</p>
                <p>Working from home is still encouraged where possible but more people will return to the workplace.</p>
                <p>All activities must account for strong social distancing guidelines of remaining 6-feet apart.</p>

              </div>
            </div>

            <div class="col-md-5 col-lg-5 pt-4">
              <img src="{{ '/' | relative_url }}assets/img/phase-3-sail.jpg" class="mw-100 pb-2" alt="Image of a dock with a beautiful sunset" aria-hidden="true">
            </div>

          </div>

        </article>
      </section>




      <section id="phase-2" class="u__vspacing s__white">
        <article class="container">

          <div class="row">


            <div class="col-md-5 col-lg-5 pt-2">
              <img src="{{ '/' | relative_url }}assets/img/beyond-harbor.jpg" class="mw-100 pb-2" alt="Image of a sunset over a harbor" aria-hidden="true">
            </div>

            <div class="col-md-6 col-lg-7 pt-0 mt-0">
              <div class="pl-4">

                <h2 class="h2">Beyond Phase III</h2>
                <p class="lead">There is more to look forward to on the other side of the third phase.</p>
                <p>Gathering and working restrictions will further relax.</p>
                <p>Additional businesses will open, and more group activities will be allowed.</p>
                <p>Along the way, we’ll innovate as we challenge ourselves to find new and better ways of operating and living.</p>

              </div>
            </div>



          </div>

        </article>
      </section>



      <div id="closing-panels">
        &nbsp;
      </div>

      <!-- <section id="updates" class="u__vspacing s__blue target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h2 class="h2">get updates</h2>
              <p class="lead">sign up to get updates on speakers, workshops, and nominees</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section> -->
