<head>
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://code.jquery.com">
	<link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-site-verification" content="wkcAVWy8ClxzqSm5y4O1zgeSVSi3QBaFD69VQP5YNvQ">

	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ page.title }} / Reopening RI">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="{{ '/' | relative_url }}assets/css/main.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143376631-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-143376631-1');
	</script>


  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | relative_url }}assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | relative_url }}assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | relative_url }}assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ '/' | relative_url }}assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{ '/' | relative_url }}assets/favicons/safari-pinned-tab.svg" color="#007ea8">
  <meta name="msapplication-TileColor" content="#007ea8">
  <meta name="theme-color" content="#007ea8">

</head>
