---
layout: default
body-class: team
title: Civic Futures Awards / {{ page.title }}

---
{% comment %}

  Team member object:
  - page.category
  - page.title
  - page.permalink
  - page.organization
  - page.teamname
  - page.problem
  - page.solution
  - page.sustainable
  - page.advice
  - page.img (example.jpg)
  - page.linkedin (full url)
  - page.twitter (full url)
  - page.content

{% endcomment %}

{% include header.html %}

<main id="content" class="layout__main bg-light">

  <section class="awards_profile">

    <div class="u__container">


        <a style="text-decoration: none;" href="/awards"><h4 class="h5 pt-4 pl-4">Civic Futures Awards</h4></a>
        <div class="col-sm-12 col-lg-9 pt-2 pb-4 ">
         <img class="img-fluid" src="{{ '/' | relative_url }}assets/img/team/{{ page.img }}" alt="">
        </div>
        <h1 class="h2 col-lg-10 pt-4" style="text-transform: none">{{ page.title }}</h1>
        <h3 class="h4 col-lg-10 pt-4">{{ page.organization }}</h3>
        <h4 class="h5 col-lg-10 pb-4">{{ page.teamname }}</h4>
    </div>
    <article class="container u__container pb-4">
      <div class="row">

        <div class="col-sm-8 col-lg-7">
          <h5 class="pt-4">The problem</h5>
          <p>{{ page.problem }}</p>
          <h5 class="pt-4">Solution / Approach</h5>
          <p>{{ page.solution }}</p>
        </div>

      </div>
      <div class="row pt-4">

        {{ content }}

      </div>
      <div class="row pt-4 pb-4">
        <div class="col-sm-8 col-md-4 col-lg-4">
          <h5>What can make it sustainable?</h5>
          <p>{{ page.sustainable }}</p>
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
          <h5>Advice to others</h5>
          <p>{{ page.advice }}</p>
        </div>
      </div>



    </article>
  </section>
  <footer class="u__vspacing s__gray">
    <div class="u__container">
      <div class="u__spacing">
        <h2 class="h2">more of our 2019 honorees</h2>
      </div>
      <div class="container u__spacing team py-0">
        <div class="row">
          {% for member in site.team %}
            {% if page.title != member.title %}
              {% include team-teaser.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </footer>
</main>
